﻿<div id="register-form-wrapper" dom-element-loaded="afterLoading()">
    <div id="register-form" class="wrapper-container">

        <div class="sub-title">Contact Information:</div>
        <table>
            <tr>
                <td><div class="caption">First Name:</div></td>
                <td><span ng-bind="user.firstName"></span></td>
            </tr>
            <tr>
                <td><div class="caption">Last Name:</div></td>
                <td><span ng-bind="user.lastName"></span></td>
            </tr>
            <tr>
                <td><div class="caption">Location:</div></td>
                <td><span ng-bind="user.location.name"></span></td>
            </tr>
            <tr>
                <td>
                    <div class="caption" ng-show="user.email">Contact via email: </div>
                    <div class="caption" ng-show="user.skype">Contact via skype: </div>
                    <div class="caption" ng-show="user.phone">Contact via phone: </div>
                </td>
                <td>
                    <span ng-bind="user.email" ng-show="user.email"></span>
                    <span ng-bind="user.skype" ng-show="user.skype"></span>
                    <span ng-bind="user.phone" ng-show="user.phone"></span>
                </td>
            </tr>
        </table>

        <div class="sub-title">Skills:</div>
        <table>
            <tr>
                <td><div class="caption">Technologies:</div></td>
                <td>
                    <div ng-repeat="technology in user.technologies">{{technology.name}}</div>
                </td>
            </tr>
            <tr>
                <td><div class="caption">Languages:</div></td>
                <td>
                    <div ng-repeat="language in user.languages">{{language.name}} ({{language.languageLevel.name}})</div>
                </td>
            </tr>
        </table>

        <div class="button-container">
            <a class="button" value="Return" href="#/">Return</a>
        </div>
    </div>
</div>