﻿<div id="register-form-wrapper" dom-element-loaded="afterLoading()">
    <div id="register-form" class="wrapper-container">
        <div class="title">Please enter information about you:</div>

        <div class="error-container">
            <ul class="errors">
                <li ng-repeat="error in errorList">{{error}}</li>
            </ul>
        </div>


        <ul class="nav nav-tabs">
            <li class="active"><a href="#contact-information">Contact Information</a></li>
            <li ng-show="isFirstStageValid"><a href="#skills">Skills</a></li>
        </ul>

        <div class="tab-content">
            <div id="contact-information" class="tab-pane fade in active">
                <table>
                    <tr>
                        <td><div class="caption">First Name:<sup> *</sup></div></td>
                        <td><input type="text" ng-model="user.firstName" autofocus=""></td>
                    </tr>
                    <tr>
                        <td><div class="caption">Last Name:<sup> *</sup></div></td>
                        <td><input type="text" ng-model="user.lastName"></td>
                    </tr>
                    <tr>
                        <td><div class="caption">Location:</div></td>
                        <td>
                            <select ng-model="user.locationId">
                                <option selected="selected" value="-1" style="display:none;">Select location</option>
                                <option ng-repeat="location in locations" value="{{location.id}}">{{location.name}}</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td><div class="caption">Contact via (choose from):<sup> *</sup></div></td>
                        <td>
                            <select ng-model="user.contactViaId">
                                <option ng-repeat="contactType in contactViaList" value="{{contactType.id}}">{{contactType.name}}</option>
                            </select>
                        </td>
                    </tr>

                    <tr ng-show="user.contactViaId == 1">
                        <td><div class="caption">Email:<sup> *</sup></div></td>
                        <td><input type="text" ng-model="user.email"></td>
                    </tr>
                    <tr ng-show="user.contactViaId == 2">
                        <td><div class="caption">Skype:<sup> *</sup></div></td>
                        <td><input type="text" ng-model="user.skype"></td>
                    </tr>
                    <tr ng-show="user.contactViaId == 3">
                        <td><div class="caption">Phone:<sup> *</sup></div></td>
                        <td><input type="text" class="phone" ng-model="user.phone"></td>

                    </tr>
                </table>
                <div class="button-container">
                    <input type="button" value="Next  >>" ng-click="next()" />
                </div>
            </div>
            <div id="skills" class="tab-pane fade">
                <table>
                    <tr>
                        <td><div class="caption">Technologies:<sup> *</sup></div></td>
                        <td>
                            <div ng-repeat="technology in technologies">
                                <input type="checkbox" checklist-model="user.technologies" checklist-value="technology" /><span>{{technology.name}}</span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><div class="caption">Languages:<sup> *</sup></div></td>
                        <td>
                            <div class="language-level-container" ng-repeat="language in languages">
                                <input type="checkbox" checklist-model="user.languages" checklist-value="language" class="language-level-check" />
                                <span class="language-level-check">{{language.name}}</span>
                                <select class="language-level" ng-model="language.languageLevelId" ng-show="languageIsSelected(language)">
                                    <option selected="selected" value="-1" style="display:none;">select level ...</option>
                                    <option ng-repeat="languageLevel in languageLevels" value="{{languageLevel.id}}">{{languageLevel.name}}</option>
                                </select>
                            </div>
                        </td>
                    </tr>
                </table>

                <div class="button-container">
                    <input type="button" value="Submit" ng-click="submit()" />
                </div>
            </div>
        </div>



    </div>
</div>