﻿body {
    font-family: 'Conv_FRABK', Sans-Serif;
    background-color: #F1F1F1;
    padding: 20px;
}

// ===== GENERAL ====== //
a, a:visited, a:hover, a:active {
    text-decoration: none;
    cursor: pointer;
}

.caption {
    font-size: 14px;
    margin-right: 10px;
    width: 180px;
}

td.caption {
    vertical-align: top;
}

.clear {
    clear: both;
}

.center {
    margin: 0 auto;
}

.invisible {
    visibility: hidden;
}

.z-index-1 {
    z-index: 1 !important;
}

.z-index-2 {
    z-index: 2 !important;
}

.z-index-max {
    position: absolute;
    z-index: 2147483647;
}


.relative {
    position: relative;
}


.center-container {
    margin: 0 auto;
    width: 50%;
    min-width: 700px;
}







// Table
table.list {
    margin: 0;
    padding: 0;
    display: table;
    border-collapse: separate;
    border-collapse: collapse;
    border-spacing: 0;
    border-color: gray;
}

    table.list th {
        background-color: rgba(211, 211, 211, 0.5);
        border: 1px solid #d2ddec;
        height: 23px;
        font-weight: normal;
        padding: 4px;
    }

    table.list td {
        border: 1px solid #d2ddec;
        height: 23px;
        vertical-align: text-top;
        padding: 5px 10px 0 10px;
    }
