﻿.bordered-selected {
  border: 1px solid #d3d1cd;
  border-radius: 5px 0 5px 5px;
  box-shadow: 0 0 5px 3px #e5e6e7;
  color: red;
}
.bordered {
  background: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  padding: 5px;
}
.centred-wrapper-edit {
  width: 70%;
  margin-left: 20%;
}
.video-full-mode {
  top: 0 !important;
  left: 0 !important;
  position: fixed !important;
  height: 100% !important;
  width: 100% !important;
}
.wrapper-container {
  background: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.error-container {
  float: left;
  width: 400px;
}
.error-container ul.errors {
  list-style: inside;
  color: red;
}
.error-container li {
  font-size: 14px;
  vertical-align: baseline;
}
.error {
  color: red;
  font-size: 14px;
  vertical-align: baseline;
}
#contact-information {
  padding-top: 25px;
}
#skills table td {
  vertical-align: top;
}
#skills table td span {
  margin-left: 10px;
}
#skills table td div.language-level-container {
  height: 30px;
  text-align: right;
}
#skills table td div.language-level-container .language-level-check {
  float: left;
}
#skills table td div.language-level-container .language-level-name {
  float: left;
}
#skills table td div.language-level-container .language-level {
  min-width: 50px !important;
  width: 110px !important;
  margin-left: 15px;
}
/* ====== Registration ======= */
#register-form-wrapper {
  width: 800px;
  height: 100px;
  margin: 0 auto;
}
#register-form-wrapper #register-form {
  margin: 0 auto;
  padding: 30px;
  width: 600px;
}
#register-form-wrapper #register-form .title {
  margin-bottom: 15px;
  color: #1a4f76;
  font-weight: bold;
  text-align: center;
  font-size: 18px;
}
#register-form-wrapper #register-form .sub-title {
  margin: 15px 0 15px 0;
  color: #1a4f76;
  font-weight: bold;
  text-align: center;
  font-size: 14px;
}
#register-form-wrapper #register-form table {
  margin-bottom: 15px;
}
#register-form-wrapper #register-form table td {
  padding: 5px 0 5px 0;
  vertical-align: top;
}
#register-form-wrapper #register-form table sup {
  color: red;
}
#register-form-wrapper #register-form table .caption {
  font-size: 14px;
  margin-right: 15px;
  text-align: right;
}
#register-form-wrapper #register-form table input[type=text],
#register-form-wrapper #register-form table input[type=password],
#register-form-wrapper #register-form table input[type=email],
#register-form-wrapper #register-form table textarea {
  width: 100%;
}
#register-form-wrapper #register-form table select {
  width: 100%;
}
#register-form-wrapper #register-form table textarea {
  resize: none;
  padding: 3px;
  height: 200px;
}
#register-form-wrapper #register-form .button-container {
  text-align: right;
}
/*# sourceMappingURL=web.css.map */